{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

    <center>
    <section class="ubicacion">
        <h3 class="titulo">Ubicacion de la casa Matriz</h3>
        <div class="contenedor-ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4187.488513635984!2d-70.60760974260282!3d-33.589423274603924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d742eb3c50bb%3A0x47bb3334fd40a58!2sEl%20Tata!5e0!3m2!1ses-419!2scl!4v1601102748249!5m2!1ses-419!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </center>
        
    </section>
</body>
{% endblock %}

{% block script %}

{% endblock %}